<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col" *ngIf="showDetails" >Gender</th>
        <th scope="col" *ngIf="showDetails">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td *ngIf="showDetails">{{gender}}</td>
        <td *ngIf="showDetails">{{age}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <button on-click="toggleDetails()">
    {{showDetails?'Hide':'Show'}} Details</button>
</div>