<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    {{ pageHeader }}!
  </h1>


<name:<input [value]="name" (input)='name=$event.target.value'/> 

name : <input [(ngModel)]="name"/>

<br/>

You entered: {{name}}



  <img [src]="imagePath" height="60px"/>

  <button (click)="onClick()">Click Me</button>
  <br/>
  <br/>
  <button on-click="onClick()">Click Me</button>
   <button [disabled]='isDisabled'> click me</button> 
</div>

<app-employee></app-employee>-->
<app-employeelist></app-employeelist>

