<div>
  <employee-count *ngIf="employees" [all]="getTotalEmployeeCount()"
                  [male]="getTotalMaleEmployeeCount()"
                  [female]="getTotalFeMaleEmployeeCount()"
                  (countRadioButtonSelectionChanged)="onSelectedEmployeeRadioButtonChange($event)"></employee-count>
<br/>
<br/>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">First Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Salary</th>
        <th scope="col">DateOfBirth</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let emp of employees;">
      <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton == emp.Gender" >
        <td>{{emp.Code | uppercase}}</td>
        <td>{{ emp.FirstName | employeeTitle: emp.Gender}}</td>
        <td>{{emp.Gender }}</td>
        <td>{{emp.AnnualSalary | currency:'USD':true:'1.3-3'}}</td>
        <td>{{emp.DateOfBirth | date:'dd/MM/y'| uppercase}}</td>
      </tr>
    </ng-container>
    <tr *ngIf="!employees">
      <td colspan="5">
        {{statusMessage}}
      </td>
    </tr>
    <tr *ngIf="employees && employees.lenght==0">
      <td colspan="5">
        No data to display..!!!
      </td>
    </tr>
    </tbody>
  </table>
  <!-- <br/>
  <button (click)="getEmployeeById()">Refresh</button> -->
</div>